* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    display: contents;
    margin: 0;
    width: 100%;
}
/*Etiquetas en general*/
a{
    color: #FFFFFF;
    display: contents;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
ul {
    /* display: flex;
    flex-direction: row; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    align-self: center;
    margin: 10px;
}
button{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    border-radius: 50px;
    border: 0;
    padding: 10px;
    width: 134px;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
button:hover{
    cursor: pointer;
    /* background-color: rgba(136, 73, 194, 0.6); */
    opacity: 0.6;
}
/*** Menu Top***/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
    header div:nth-of-type(1) {
        display: flex;
    }
    header div:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        header div:nth-of-type(2) nav {
            display: none;
        }
        header div:nth-of-type(2) button {
            display: none;
        }
        .icons-fa {
            align-self: center;
            font-size: 40px;
        }
        .icons-fa:hover{
            cursor: pointer;
            opacity: 0.6;
        }
/*End Menu Top*/
main{
    margin-top: 60px;
}        
/*** Panel Intro ***/
.panel-intro div:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    width: 100%;
}
    .panel-intro div:nth-of-type(1) img{
        animation: move 3s infinite alternate;
        display: flex;
        padding-bottom: 60px;
        height: 400px;
        width: 480px;
    }
.panel-intro div:nth-of-type(2){
    align-items: flex-end;
    display: flex;
    flex-direction: column;/* flex-wrap: wrap; no funcionó con el button, toco flex direction*/
    padding: 40px;
}
    .panel-intro div:nth-of-type(2) h1{
        display: flex;
        text-align: right;
        color: #232C50;
        font-size: 50px;
        letter-spacing: -0.035em;
    }
    .panel-intro div:nth-of-type(2) span{
        display: flex;
        font-weight: 500;
        line-height: 1.5;
        margin: 20px 0;
        text-align: right;
    }
    .panel-intro div:nth-of-type(2) button{
        align-self: flex-end;
    }
/*** End Panel Intro ***/
/*** Panel Description ***/
.panel-description, .panel-news{
        background-color: #3CDDF3;
        color: #FFFFFF;
        padding: 40px 20px;
    }
    .panel-description h2{
        font-size: 36px;
    }
    .panel-description article{
        line-height: 1.5;
        padding-top: 50px;
    }
/*** End Panel Description ***/
/*** Panel List ***/
    .panel-list{
        padding-left: 34px;
        padding-top: 65px;
    }
    .panel-list div{
        display: flex;
        flex-direction: column;
    }
    .panel-list div .list-title{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 43px;
        width: 100%;
    }
        .title-number{
            align-items: center;
            background-color: #8B48BF;
            border-radius: 30px;
            color: #FFFFFF;        
            display: flex;
            font-weight: 500;
            justify-content: center;
            padding: 5px 10px;
            position: relative;
            width: 69px;
            z-index: 1;
        }
    .title-description{
        align-items: flex-start;
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        display: flex;
        font-weight: 600;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0px;
        padding-left: 85px;
        height: 100%;
        width: 100%;
    }
    .list-description{
        display: flex;
        /* align-self: flex-end; */
        color: #B3B2B7;
        line-height: 1.5;
        padding: 21px;
    }
/*** End Panel List ***/
/*** Best of the month ***/
.panel-bestplayers *{
    display: flex;
}
.panel-bestplayers{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 58px 0px;
    width: 100%;
}
    .panel-bestplayers h3{
        color: #242E53;
        font-size: 40px;
        text-align: center;
    }
    .panel-bestplayers .listplayer{
        display: flex;
        flex-direction: column;
        padding-top: 74px;
    }
    .panel-bestplayers .listplayer .player{
        background-color: #FAFAFA;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 45px;
        margin-top: 3px;
        position: relative;
        height: 219px;
        width: 430px;
    }
    .player img{
        position: absolute;
        top: -30px;
    }
    .player img:hover{
        animation: zoom infinite alternate 300ms;
    }
    .player div{
        /* flex-wrap: wrap; no funciona lo toma como cuadro*/
        flex-direction: column;
        position: relative;
        top: 50px;
    }
    .player div span{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 17px;
        padding: 10px 0px;
    }
    .player div p{
        color: #B9B9C1;
        margin: 0px 16px;
        text-align: center;
    }

/*** End Best of the month ***/
/*** Get to know the best teams ... ***/
.panel-news{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
    .panel-news div h2{
        display: flex;
        font-size: 40px;
        padding: 40px 80px 50px;
        text-align: center;
    }
    .panel-news div button{
        background-color: #232C50;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        display: flex;
        margin-bottom: 40px;
    }
/*** End Get to know the best teams ... ***/
/*** Footer ***/
footer{
    align-items: center;
    background-color: #1E1E26;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
    footer .div1{
        display: flex;
        flex-direction: row;
    }
        footer .div1 input[type=email]{
            border-radius: 50px;
            border: 0px;
            padding: 10px;
            width: 308px;
            height: 44px;
        }
        footer .div1 input[type=email]::placeholder{
            color: #A0A0A0;
            font-family: 'Be Vietnam Pro', sans-serif;
        }
        footer .div1 button{
            margin-left: 10px;
            width: 63px;
        }

    footer .div2{
        display: flex;
        flex-direction: row;
        font-weight: 200;
        justify-content: space-around;
        margin: 30px 0px;
        width: 100%;
    }
    footer .div2 nav ul li{
        padding-top: 12px;
    }

    footer .div3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
        footer .div3 .icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        footer .div3 .logo{
            display: flex;
            justify-content: center;
            padding: 25px 0px;
        }
        footer .div3 .logo img{
            display: flex;
        }
    footer span{
        color: #8C8C94;
        font-size: 12.5px;
        font-weight: 500;
        text-align: center;
    }
/*** End Footer ***/
/*Media queries*/
@media(min-width: 900px){
    .icons-fa{
        display: none;
    }
    /*Menus header*/
    header{
        padding: 40px 20px;
    }
    header div:nth-of-type(2){
        align-items: center;
        flex-direction: row;
    }
        header div:nth-of-type(2) nav{
            display: flex;
            padding: 0 .5rem;
        }
            header div:nth-of-type(2) nav ul{
                display: flex;
                flex-wrap: wrap;
            }
                header div:nth-of-type(2) nav ul li a{
                    color: #242E52;
                }
                    header div:nth-of-type(2) nav ul li a:hover{
                        color: rgba(36, 46, 82, 0.6);
                    }
        header div:nth-of-type(2) button{
            display: flex;
            justify-content: center;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        }
    /*Footer*/
    footer{
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
    }
    footer > div{
        width: 100%;
    }
    footer .div1{
        align-items: center;
        padding-bottom: 90px;
    }
    footer .div3{
        flex-direction: column-reverse;
        align-items: center;
    }
        footer .div3 .icons{
            width: 200px;
        }
        footer .div3 .logo{
            margin: 0px;
            padding: 0px;
            padding-bottom: 90px;
        }
    footer span{
        position: absolute;
        bottom: 20px;
        right: 164px;
    }
}

@media(min-width: 1000px){
    /*Panel Intro*/
    main .panel-intro{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0px 30px;
    }
    main .panel-intro > div{
        width: 100%;
    }
    main .panel-intro div:nth-of-type(1) img, main .panel-intro div:nth-of-type(1) {
        display: flex;
        padding: 0px;
        margin: 0px;
    }
    main .panel-intro div:nth-of-type(1){
        padding-bottom: 100px;
        width: 100%;
    }
    main .panel-intro div:nth-of-type(2){
        align-items: center;
        padding-left: 10%;
        padding-bottom: 0 5%;
    }

    /*Panel 2*/
    .panel-description{
        background-color: #8B48BF;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .panel-description h2{
        padding-left: 150px;
    }
    .panel-description h2, .panel-description article{
        display: flex;
        width: 100%;
    }
    .panel-description article{
        padding-left: 5%;
        font-weight: 300;
        padding: 0px;
        padding-right: 150px;
    }

    /*seccion de los numeros*/
    .panel-list{
        background-color: #FAFAFA;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
        .title-description{
            background-color: unset;
        }
        .panel-list > div{
            display: flex;
            padding: 24px;
            width: 500px;
        }
        .list-description{
            padding-left: 85px;
        }

    /*Seccion Best of the month*/
    .panel-bestplayers{
        display: flex;
        align-items: center;
    }
    .panel-bestplayers .listplayer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 45px;
        width: 100%;
    }
    .panel-bestplayers .listplayer .player{
        height: 250px;
        margin: 0px 15px;
    }
    .panel-bestplayers .listplayer .player:nth-of-type(2){
        order: -1;
    }

    /*Seccion Get to know... (5)*/
    .panel-news{
        background-color: #8B48BF;
        display: flex;
        flex-wrap: nowrap;
        padding: 64px 0px;
        width: 100%;
    }
    .panel-news div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .panel-news div h2{
        display: flex;
        margin-left: 60px;
        padding: 0px;
        text-align: left;
    }
    .panel-news div button{
        background-color: #FFFFFF;
        color: #8B48BF;
        margin: 0px;
    }
}
@media(min-width: 1600px){
    main .panel-intro{
        height: 465px;
        margin: 0px 200px;
    }
}
/** Animaciones opcional **/
@keyframes move{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(-0.5, 1);
    }
}
@keyframes zoom {
    0% {
        height: 70px;
        width: 71px;
    }
    50% {
        height: 80px;
        width: 81px;
    }
    100% {
        height: 100px;
        width: 100px;
        opacity: 0.5;
    }
}